body, .panel-default {background-color: black; color: white;border:none;font-weight:bolder;margin:-20px 0px 0px 0px;}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
	font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.kanban-col{padding:0px 3px;}
.jumbotron{color: black;font-size: 70pt;font-weight: bolder;}
.jumbotron h3{font-size: 40pt;color:blue;}
.panel-heading {margin:10px 0 50px 0;}
.panel-body{font-size:65px;padding-left:3px;}
.panel-body .row{padding:0px 0;}
.doorno{color:green;font-size:70pt;}
.date-info{font-size:30pt;color:yellow;margin-top:-12px;}